<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <p>для какой диаграммы сгенерировать код?</p>
    <form action="/" method="post" target="_blank">
     <button class="button execute">скачать сгенерированный код</button>
    </td></tr>
    <select name= d_names >
        {% for d_name in d_names %}
        <option value= "{{d_name}}" SELECTED>{{d_name}}</option>"
        {% endfor %}
    </select>
    </form>
    <div>
        <a target="_blank" href="https://drive.google.com/file/d/11-cXCfyd-7KFkWnuR0OC-31t3j7SbAZ7/view?usp=sharing">ссылка на диаграммы</a>
    </div>
  </body>
</html>
